.EntryForm{
    position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  */
  height: 60vh;
  width: 40vw;
    background-color: blueviolet;
    border-radius: 10px;
    
}
.createSubmit{
    position: absolute;
    bottom: 20px;
    width: 100%
}

@media only screen and (max-width: 600px){
    .EntryForm{
        width: 70vw;
    }
}